<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="description" contents="Our Streaming Website" />
    <link rel="stylesheet" href="../static/style.css" />
    <title>Accueil</title>
  </head>
  <body>
    <balise id="hautdepage"></balise>
    <header>
      <nav class="page__menu page__custom-settings menu">
        <ul class="menu__list r-list">
          <li class="menu__group">
            <a href="/" class="menu__link r-link text-underlined">Accueil</a>
          </li>
          <li class="menu__group">
            <a href="recherche" class="menu__link r-link text-underlined"
              >Recherche</a
            >
          </li>
        </ul>
      </nav>
    </header>
    <div class="section">
      <h2>A propos</h2>
      <p class="link">
        Sur ce site vous allez pouvoir accéder à une base de données de gène
        d'antibiorésistance bactérienne. Dans le menu déroulant vous allez
        trouver un onglet <a href="#hautdepage">"recherche"</a> cet onglet sert
        aux chercheurs qui utiliseront cet outil pour comparer leurs nouveaux
        gènes de résistance avec ceux déjà répertoriés dans la base de donnée
        <a href="https://card.mcmaster.ca/" target="_blank">CARD</a> (The
        Comprehensive Antibiotic Resistance Database).
      </p>
      <p class="link">
        Aujourd'hui les
        <a href="#bacteries">bactéries</a> deviennent résistantes aux
        <a href="#antibiotiques">antibiotiques</a>. Principaux faits : La
        résistance aux antibiotiques constitue aujourd’hui l’une des plus graves
        menaces pesant sur la santé mondiale, la sécurité alimentaire et le
        développement. Elle peut toucher toute personne, à n’importe quel âge et
        dans n’importe quel pays. La résistance aux antibiotiques est un
        phénomène naturel mais le mauvais usage de ces médicaments chez l’homme
        et l’animal accélère le processus. Un nombre croissant d’infections,
        comme la pneumonie, la tuberculose ou la gonorrhée, la salmonellose,
        deviennent plus difficiles à traiter les antibiotiques utilisés pour les
        soigner perdant leur efficacité. La résistance aux antibiotiques
        entraîne une prolongation des hospitalisations, une augmentation des
        dépenses médicales et une hausse de la mortalité.
      </p>
    </div>
    <img src="/static/3.jpg" />
    <div class="section" id="bacteries">
      <h2>Bactéries</h2>
      <p class="link">
        Definition bactérie : Une bactérie pathogène est une bactérie qui cause
        une maladie infectieuse chez les humains, les animaux ou les plantes.
        Bien que la grande majorité des bactéries soient inoffensives ou
        bénéfiques, certaines sont pathogènes. Les bactéries pathogènes sont
        l'une des causes de la mortalité infantile élevée dans les pays en
        développement. La maladies bactériennes ou infections bactériennes sont
        causées par des bactéries nocives (également appelées pathogènes, agents
        étiologiques ou agents pathogènes) qui pénètrent passivement ou
        activement dans un organisme végétal ou animal, dans lequel elles se
        reproduisent et provoquent une réponse immunitaire. De telles maladies
        sont souvent accompagnées, entre autres, d'inflammation, de fièvre, de
        vomissements et de diarrhées. Les
        <a href="#antibiotiques">antibiotiques</a> et autres bactéricides (et
        certains biocides) sont utilisés dans leur traitement.
      </p>
    </div>
    <img src="/static/0.jpg" />
    <div class="section" id="antibiotiques">
      <h2>Antibiotiques</h2>
      <p>
        Definition Antibiotique : Les antibiotiques sont des médicaments
        utilisés pour traiter et prévenir les infections bactériennes. La
        résistance survient lorsque les bactéries évoluent en réponse à
        l'utilisation de ces médicaments.
      </p>
      <p class="link">
        Problèmes rencontrés : Les litières concentrent les
        <a href="#bacteries">bactéries</a> excrétées avec les fèces. De plus,
        les eaux fœtales, les sécrétions utérines et vaginales, les placentas
        peuvent contenir en grandes quantités les agents responsables des
        avortements et des infections génitales. Enfin, des bactéries
        responsables de diverses infections cutanées, podales, ombilicales,
        rénales peuvent être évacuées vers les effluents avec les suppurations,
        l'urine et divers excrétas. La durée des risques engendrés va de
        quelques jours à quelques mois suivant les bactéries et le milieu.
        Au-delà de la concentration des germes émis par les animaux dans leurs
        différentes sécrétions (fèces, urines, sécrétions utérines et
        vaginales...), la litière accélère la dynamique de contamination
        (augmentation du nombre de germes) lorsqu'elle est humide (ventilation
        insuffisante) et/ou épaisse (paillage surabondant, curage insuffisant).
        Un paillage important entraîne un matelas épais, très/trop aéré,
        favorable à l'augmentation de température. Il favorise le développement
        bactérien par la combinaison de 2 facteurs : présence d'air et
        température, développement favorisé lors de taux d'humidité élevé
        (conditions météorologiques humides, bâtiment mal aéré, fuites
        d'abreuvoirs...). Ce risque d'effet thermique est quantifiable par la
        prise de la température de la litière à 10 cm de profondeur qui ne doit
        pas excéder 36°C. Le fumier est donc à retirer lorsque la température
        interne de la litière atteint ou dépasse 36°C.
      </p>
    </div>
    <img src="/static/2.png" />
    <a href="#hautdepage" class="HDP"> Haut de page </a>
    <footer>&copy; Copyright 2023, Nantes Université</footer>
  </body>
</html>
